/* Projects Page */
.projects-page {
    background: linear-gradient(90deg, rgba(3,11,6,0.9766500350140056) 2%, rgba(15,14,14,1) 49%);
  
  }
  .project-cards {
    display: inline;
    justify-content: center;
    align-items: center;
  }
  .projectContainer {
    display: inline;
    justify-content: center;
    align-items: center;
  }