.contact {
  height: 100vh;
  background: linear-gradient(90deg, rgba(3,11,6,0.9766500350140056) 2%, rgba(15,14,14,1) 49%);
}
.contact-section-container {
  /* background: url('../../components/assets/mountain_nosky.webp') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 3000;
  position: relative;
}

.header {
  height: 10vh;
}
.contact-text {
  height: 45vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-container {
  display: flex;
  justify-content: center;
}
.icon {
  width: 150px;
  margin: 20px 40px;
  color: white !important;
}
.icon:hover {
  color: white;
}
.fab {
  color: white !important;
}
.fas {
  color: white !important;
}
.fab:hover {
  color: black !important;
}
.fas:hover{
  color: white !important;
}