.homepage {
  background: linear-gradient(90deg, rgba(3,11,6,0.9766500350140056) 2%, rgba(15,14,14,1) 49%);
}

.homepage-section-container {
  background: url('../../public/images/mountain_nosky.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 3000;
  position: relative;
}
.sectionOne-header-container {
  transition: .8s;
}

.welcome-section {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 10vw;
  align-items: baseline;
  margin: 8vh 6vw;    
}

.name {
  font-size: 1.5em;
  font-weight: 200;
}

.disappear {
  opacity: 0;
  transition: .8s;
}

.sectionTwo {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* background-color: black; */
}

.Typewriter {
  position: relative;
  justify-content: center;
  text-align: center;
  z-index: 1;
  font-weight: 200;
  font-size: 1.5em;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.me-img {
  z-index: 2;
  border-radius: 25%;
  padding-left: 20px;
}
.about-header {
  font-weight: 200;
}
.about-text {
  width: 100%;
  position: absolute;
} 
.about-p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 15px;
  background: linear-gradient(90deg, rgba(3,11,6,0.9766500350140056) 2%, rgba(15,14,14,1) 49%);
  color: white;
  font-family: Archivo, "Helvetiva Neue", Helvetica, Aria, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}