.navbar {
    background-color: #C3CEDA;
}

.navbar-collapse {
    justify-content: end;
}

.nav-link {
    color: black;
}

.nav-logo {
    height: 12vh;
    border-radius: 50px;
    position: absolute;
}