body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;;
}


section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

p {
  opacity: .7;
}


@media only screen and (max-width: 600px) {
  .icon {
    margin: 40px 40px;
  }
}

code {
  font-family: Archivo, "Helvetiva Neue", Helvetica, Aria, sans-serif;
}
